/* Spinner.css

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.spinner {
  margin: 4.8rem auto;
  width: 6.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #93e506cc 94%, #0000)
      top/10px 10px no-repeat,
    conic-gradient(#0000 30%, #93e506cc);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
  animation: rotate 1.5s infinite linear;
} */

/* Spinner.css */

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.spinner {
  position: fixed; /* Position the spinner absolutely */
  top: 50%; /* Center the spinner vertically */
  left: 50%; /* Center the spinner horizontally */
  margin: 4.8rem auto;
  width: 6.4rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #93e506cc 94%, #0000)
      top/10px 10px no-repeat,
    conic-gradient(#0000 30%, #93e506cc);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 10px), #000 0);
  animation: rotate 1.5s infinite linear;
  z-index: 11;
}